
.VPHomeHero .name {
    margin-bottom: 1rem;
}
.VPHomeHero .text {
    font-size: 2rem;
    line-height: 1.2;
}
.VPHomeHero .tagline {
    font-size: 1.5rem;
    line-height: 1.2;
}

/*
.main {
    margin-left: -20px;
    margin-right: -20px;
} */
